.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
  
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background-color: #c7c7c7;
}

/* Media query for small screens (e.g., mobile) */
@media (max-width: 768px) {

    .footer-logo {
        margin-top: 30px;
    }

    .footer-logo p {
        font-size: 36px; /* Adjust font size for small screens */
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 30px;
        gap: 10px; /* Reduce the gap between links for small screens */
    }

    .footer-copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        
    }

}

/* Media query for medium screens (e.g., tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .footer-logo p {
        font-size: 40px; /* Adjust font size for medium screens */
    }
}